<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:util="http://www.springframework.org/schema/util"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <!--<start id="duke_bean" />--> 
   <bean id="poeticDuke"
      class="com.springinaction.springidol.PoeticJuggler" >
      <constructor-arg value="15"/>
      <constructor-arg ref="sonnet29"/>
    </bean>
    <bean id="sonnet29"
            class="com.springinaction.springidol.Sonnet29">
    </bean>

  <!--<end id="duke_bean" />-->
    <bean id="theStage"
          class="com.springinaction.springidol.Stage"
          factory-method="getInstance"/>

    <bean id="auditorium"
          class="com.springinaction.springidol.Auditorium"
          init-method="turnOnLight"
          destroy-method="turnOffLight"/>

    <bean id="kenny"
          class="com.springinaction.springidol.Instrumentalist"
          p:song="Robin Song"
          p:instrument-ref="saxophone"/>


    <bean id="kenny2"
          class="com.springinaction.springidol.Instrumentalist">
        <property name="song" value="Robin Song"/>
        <property name="instrument">
                <bean class="com.springinaction.springidol.Saxophone"/>
        </property>
    </bean>

    <bean id="hank"
          class="com.springinaction.springidol.OneManBand">
    <property name="instruments">
        <list>
            <ref bean="piano"/>
            <ref bean="saxophone"/>
        </list>
    </property>
    </bean>
    <bean id="piano"
          class="com.springinaction.springidol.Piano"/>
    <bean id="saxophone"
          class="com.springinaction.springidol.Saxophone"/>


    <util:list id="cities">
        <bean class="com.springinaction.springidol.City"
              p:name="nanjing" p:population="123"/>
        <bean class="com.springinaction.springidol.City"
              p:name="hangzhou" p:population="128"/>
        <bean class="com.springinaction.springidol.City"
              p:name="shanghai" p:population="523"/>
    </util:list>

    <bean id="person" class="com.springinaction.springidol.Person">
        <property name="city" value="#{cities[2]}"/>
        <property name="name" value="robin"/>
    </bean>


</beans>
